name: Run Tests

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    name: Run cargo test
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo test
        run: cargo test --all
